<html>
    <head>
        <title>JunHee's Practice</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.naver.com">Go to the naver</a></h1>
        </div>

        <div>
            <h2><a href="https://sports.news.naver.com/wfootball/news/read.nhn?oid=057&aid=0001341123">손흥민 UCL 골</a></h2>
            <p>손흥민 결승골…BBC "이상적인 공격수"</p>
        </div>

        <div>
            <h2><a href="https://sports.news.naver.com/wfootball/news/read.nhn?oid=108&aid=0002775226">이강인 이적설</a></h2>
            <p>"발렌시아, 이강인 놔준다... 그라나다·오사수나가 1옵션" [西언론]</p>
        </div>
    </body>
</html>